@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caprasimo&display=swap');

.fun-font{
  font-family: 'Caprasimo', cursive;;
}
.brand-font {
    font-family: 'Abril Fatface', cursive;
  }
  @import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

:root {
  --color: rgb(63 63 63);
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(https://images.pexels.com/photos/6331230/pexels-photo-6331230.jpeg?auto=compress&cs=tinysrgb&h=627&fit=crop&w=1200);
  background-position: center;
  background-size: cover;
  color: #ffff;
  row-gap: 4rem;

  text-align: center;
}
#category-line{
  background-color: #000;
  min-height:12vh;
}
.parallax-container p{
  font-size:x-large;
}
.buffer {
  width: 100%;
  min-height: 60vh;
  background-color: #ffff;
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 0;
  background-image: url(https://images.pexels.com/photos/4350089/pexels-photo-4350089.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4350089.jpg&fm=jpg);
  gap: 1.6em;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
}
.img{
width:50%;
height:auto;
}